<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <app-common-card
  [title]="'Orders'"
  [value]="'152'"
  [icon]="'pi-shopping-cart'"
  [iconColor]="'text-blue-500'"
  [iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
  [trendText]="'24 new'"
  [trendDescription]="'since last visit'"
></app-common-card>
</div>

<div class="col-span-12 lg:col-span-6 xl:col-span-3">
<app-common-card
[title]="'Orders'"
[value]="'152'"
[icon]="'pi-shopping-cart'"
[iconColor]="'text-blue-500'"
[iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
[trendText]="'24 new'"
[trendDescription]="'since last visit'"
></app-common-card>
</div>

<div class="col-span-12 lg:col-span-6 xl:col-span-3">
<app-common-card
[title]="'Orders'"
[value]="'152'"
[icon]="'pi-shopping-cart'"
[iconColor]="'text-blue-500'"
[iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
[trendText]="'24 new'"
[trendDescription]="'since last visit'"
></app-common-card>
</div>

<div class="col-span-12 lg:col-span-6 xl:col-span-3">
<app-common-card
[title]="'Orders'"
[value]="'152'"
[icon]="'pi-shopping-cart'"
[iconColor]="'text-blue-500'"
[iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
[trendText]="'24 new'"
[trendDescription]="'since last visit'"
></app-common-card>
</div>

<div class="col-span-12 lg:col-span-6 xl:col-span-3">
<app-common-card
[title]="'Orders'"
[value]="'152'"
[icon]="'pi-shopping-cart'"
[iconColor]="'text-blue-500'"
[iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
[trendText]="'24 new'"
[trendDescription]="'since last visit'"
></app-common-card>
</div>