<p-tabView>
  <p-tabPanel header="Actividad">
    <app-activity-content-tab />
  </p-tabPanel>

  <p-tabPanel header="Diseño">
    <p class="text-sm text-gray-500">Aquí irá la personalización visual de la actividad.</p>
  </p-tabPanel>

  <p-tabPanel header="Layout">
    <p class="text-sm text-gray-500">Aquí se configurará la estructura de presentación.</p>
  </p-tabPanel>

  <p-tabPanel header="Configuración">
    <p class="text-sm text-gray-500">Opciones avanzadas como visibilidad, expiración, etc.</p>
  </p-tabPanel>
</p-tabView>
