.question-grid {
  display: grid;
  width: 100%;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.block-container {
  display: flex;
  flex-direction: column;
}

.preview-box {
  background: #e0f7fa;
  border: 1px dashed #00796b;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 14px;
}

// Utilidades
.w-full { width: 100%; }
.w-fit { width: fit-content; }
.w-auto { width: auto; }

.self-start { align-self: flex-start; }
.self-center { align-self: center; }
.self-end { align-self: flex-end; }
.self-stretch { align-self: stretch; }
