<div class="relative w-full">
  <div
    class="rounded-xl p-4 bg-white dark:bg-slate-800 transition-all duration-300 ease-in-out"
    [ngClass]="{
      'ring ring-primary shadow-lg': active,
      'shadow-md': !active,
      'opacity-90 pointer-events-none': dimmed,
      'hover:shadow-lg hover:scale-[1.01]': !dimmed
    }"
  ><div class="flex justify-between mb-4">
      <div>
        <span class="block text-muted-color font-medium mb-2">{{ title }}</span>

        <div class="text-gray-500 dark:text-white font-medium text-xl">
          {{ value }}
        </div>
      </div>

      <div
        class="flex items-center justify-center rounded-border"
        [ngClass]="[iconBgColor]"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i class="pi" [ngClass]="[icon, iconColor, '!text-xl']"></i>
      </div>
    </div>

    <span class="text-primary font-medium"> {{ trendText }}</span>
    <span class="text-muted-color">{{ trendDescription }}</span>

     <!-- Ícono de menú contextual (3 puntos) -->
     <div *ngIf="showMenu" class="absolute bottom-1.5 right-2.5 z-10" (click)="$event.stopPropagation()">
      <p-menu #menu [popup]="true" [model]="menuItems" appendTo="body"></p-menu>
      <button
        type="button"
        pButton
        icon="pi pi-ellipsis-v"
        class="p-button-sm p-button-text p-button-rounded !text-gray-600 dark:!text-gray-300"
        (click)="dimmed?null:menu.toggle($event)"
      ></button>
    </div>
  </div>
</div>
