
<ng-template #customBody let-activity let-columns="columns">
  <td>
    <span
      class="line-clamp-1 overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px]"
      [pTooltip]="activity.title"
      tooltipPosition="top"
    >
      {{ activity.title }}
    </span>
  </td>
  <td>
    <p-tag
      [value]="getDifficultyLabel(activity.difficulty)"
      [severity]="getDifficultyColor(activity.difficulty)"
      styleClass="px-3"
    />
  </td>

  <td>{{ getLocalizedActivityType(activity.activityType) }}</td>
  <td>{{ activity.creatorName }}</td>

  <td>{{ getLocalizedCategory(activity.category) }}</td>

  <td>
    <div class="flex gap-1 flex-wrap">
      <p-tag
        *ngFor="let tag of activity.tags"
        [value]="getLocalizedTag(tag)"
        severity="contrast"
      />
    </div>
  </td>

  <td>
    <p-tag
      [value]="activity.isVisible ? 'Visible' : 'Oculta'"
      [severity]="activity.isVisible ? 'success' : 'warn'"
    />
  </td>

  <td>
    <p-tag
      [value]="activity.isExpired ? 'Expirada' : 'Activa'"
      [severity]="activity.isExpired ? 'danger' : 'success'"
    />
  </td>

  <td>{{ activity.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
</ng-template>

<ng-template #statusTemplate let-option>
  <p-tag
    *ngIf="option"
    [value]="option.label"
    [severity]="getSeverityFromLabel(option.label)"
  />
</ng-template>


<div class="flex justify-between items-center mb-4">
  <h2 class="text-xl font-semibold">Actividades</h2>
  <p-button
    pButton
    label="Nueva actividad"
    icon="pi pi-plus"
    class="p-button-success"
    (click)="navigateToCreation()"
  ></p-button>
</div>

<div class="col-span-12 xl:col-span-12">
  <app-common-table
    [columns]="columns_activities"
    [data]="(activities$ | async)||[]"
    [tableStyle]="{ 'min-width': '50rem' }"
    [size]=""
    [showGridlines]="false" 
    [stripedRows]="true"
    [bodyTemplate]="customBody"

    [paginator]="true"
    [rows]="(tableState$ | async)?.rows || 10"
    [rowsPerPageOptions]="[5, 10, 20]"

    [showCaption]="true"
    captionTitle="Actividades"
    [showRefreshButton]="true"
    [refreshButtonIcon]="'pi pi-sync'"

    [showSearch]="true"
    [searchPlaceholder]="'Buscar por título, tipo o creador'"
    [globalFilterFields]="globalFilterFields"
    [enableColumnFilter]="true"
    [customFilterTemplate]="statusTemplate"

    [sortMode]="'single'"
    [sortField]="(tableState$ | async)?.sortField || 'title'"
    [sortOrder]="(tableState$ | async)?.sortOrder || -1"

    [enableSelection]="true"
    [selection]="selectedActivities"
    (selectionChange)="handleCheckBoxAction($event)"
    [dataKey]="'id'"
    [rowActions]="rowActions"

    [scrollable]="true"
    scrollHeight="500px"

    [lazy]="true"
    [totalRecords]="(totalItems$ | async) || 0"
    [loading]="(isLoading$ | async) || false"

    [first]="(tableState$ | async)?.first || 0"
    [filters]="(filters$ | async) || {}"

    (onLazyLoad)="handleLazyLoad($event)"
    (onRefresh)="reloadData()"
  />
</div>
