/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);

    &:last-child {
        margin-bottom: 0;
    }
}

.card-surface{
  background-color: var(--surface-overlay);
  color: var(--text-color); // opcional: texto adaptado al tema
  //border-radius: 0.375rem; // si quieres usar tailwind-like rounded-sm
  //box-shadow: var(--shadow-sm, 0 1px 2px 0 rgba(0, 0, 0, 0.05)); // opcional
  //padding: 1.5rem; // opcional si quieres estandarizar
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}
