<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '28rem' }"
  [breakpoints]="{ '960px': '95vw' }"
  [closable]="true"
  [draggable]="false"
  appendTo="body"
>
<!--  [baseZIndex]="1100" -->
  <!-- HEADER personalizado -->
  <ng-template #header>
    <div class="flex flex-col gap-1">
      <!-- Título principal -->
      <div class="flex items-center gap-2 text-lg font-semibold text-slate-800 dark:text-white">
        <i class="pi pi-pencil text-primary"></i>
        <span>
          {{ isEditing ? 'Editar categoría:' : 'Nueva categoría' }}
          <span *ngIf="isEditing" class="text-primary"> {{ category?.name }} </span>
        </span>
      </div>

      <!-- Subtítulo (contexto) -->
      <div *ngIf="parentCategoryName" class="flex items-center gap-2 text-sm text-muted">
        <i class="pi pi-folder-open text-slate-400"></i>
        <span>Add in: <span class="font-medium text-slate-600 dark:text-slate-300">{{ parentCategoryName }}</span></span>
      </div>
    </div>
  </ng-template>

  <!-- CONTENIDO -->
  <div class="flex flex-col gap-5 mt-2">
    <div class="flex flex-col gap-1">
      <label for="name" class="font-semibold">Name</label>
      <input
        pInputText
        id="name"
        class="w-full"
        [(ngModel)]="name"
        placeholder="Ej: Lenguajes"
        autocomplete="off"
      />
    </div>

    <div class="flex flex-col gap-1">
      <label for="description" class="font-semibold">Description</label>
      <textarea
        pTextarea
        id="description"
        rows="3"
        class="w-full"
        [(ngModel)]="description"
        placeholder="Descripción"
        autocomplete="off"
        minlength="3"
        maxlength="100"
      ></textarea>
    </div>
  </div>

  <!-- FOOTER -->
  <ng-template #footer>
    <p-button
      label="Cancelar"
      [text]="true"
      severity="secondary"
      (click)="cancel.emit()"
    />
    <p-button
      label="Guardar"
      [outlined]="true"
      severity="primary"
      [disabled]="!name.trim() || !description.trim()"
      (click)="onSubmit()"
    />
  </ng-template>
</p-dialog>
