<h1 i18n="@@dashboardTitle">Dashboard mija</h1>
<p i18n="@@welcomeMessage">Welcome to your dashboard</p>
<p i18n="@@test1">Hello mija this is a test :</p>

<div class="grid grid-cols-12 gap-8">
  <app-dashboard-metrics class="contents"> </app-dashboard-metrics>
  <ng-template #customBody let-product let-columns="columns">
    <td>{{ product.name }}</td>
    <td>
      <img
        [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
        class="w-20 rounded"
        [alt]="product.name"
      />
    </td>
    <td>{{ product.price }}</td>
    <td>
      <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
    </td>
    <td>
      <p-rating [ngModel]="product.rating" [readonly]="true"></p-rating>
    </td>
  </ng-template>
  <ng-template #statusTemplate let-option>
    <p-tag [value]="option.label" [severity]="getSeverity(option.value)" />
  </ng-template>
  <div class="col-span-12 xl:col-span-12">
    <app-common-table
      [columns]="columns_products"
      [data]="products"
      [tableStyle]="{ 'min-width': '50rem' }"
      [size]="'small'"
      [showGridlines]="true"
      [stripedRows]="true"
      [bodyTemplate]="customBody"

      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]"
      (onPageChange)="handlePageChange($event)"

      [showCaption]="true"
      captionTitle="Usuarios Activos"
      [showRefreshButton]="true"
      [refreshButtonIcon]="'pi pi-sync'" 

      [showSearch]="true"
      [searchPlaceholder]="'Buscar por nombre o price'"
      [globalFilterFields]="globalFilterFields"
      [enableColumnFilter]="true"
      [customFilterTemplate]="statusTemplate"

      [sortMode]="'single'"
      [sortField]="'price'"
      [sortOrder]="-1"

      [enableSelection]="true"
      [selection]="selectedProducts"
      (selectionChange)="handleCheckBoxAction($event)"
      [dataKey]="'id'"
      [rowActions]="rowActions"

      [scrollable]="true"
      scrollHeight="500px"

      (onRefresh)="reloadUsers()"
    />
  </div>
  <div class="col-span-12 xl:col-span-6"></div>
</div>
