<h1 i18n="@@dashboardTitle">Dashboard mija</h1>
<p i18n="@@welcomeMessage">Welcome to your dashboard</p>
<p i18n="@@test1">Hello mija this is a test :</p>
<div class="p-grid p-nogutter p-4">
    <div class="p-col-12 p-lg-6 p-xl-3">
        <app-common-card
        title="Orders"
        value="152"
        icon="pi-shopping-cart"
        iconBgColor="bg-blue-100 dark:bg-blue-400/10"
        iconColor="text-blue-500"
        trendText="24 new"
        trendDescription="since last visit"
      />    </div>
    <div class="p-col-12 p-lg-6 p-xl-3">
        <app-common-card
        title="Orders"
        value="152"
        icon="pi-shopping-cart"
        iconBgColor="bg-blue-100 dark:bg-blue-400/10"
        iconColor="text-blue-500"
        trendText="24 new"
        trendDescription="since last visit"
      />    </div>
    <div class="p-col-12 p-lg-6 p-xl-3">
        <app-common-card
        title="Orders"
        value="152"
        icon="pi-shopping-cart"
        iconBgColor="bg-blue-100 dark:bg-blue-400/10"
        iconColor="text-blue-500"
        trendText="24 new"
        trendDescription="since last visit"
      />    </div>
    <div class="p-col-12 p-lg-6 p-xl-3">
<app-common-card
  title="Orders"
  value="152"
  icon="pi-shopping-cart"
  iconBgColor="bg-blue-100 dark:bg-blue-400/10"
  iconColor="text-blue-500"
  trendText="24 new"
  trendDescription="since last visit"
/>    </div>
  </div>

