<h1 i18n="@@dashboardTitle">Dashboard mija</h1>
<p i18n="@@welcomeMessage">Welcome to your dashboard</p>
<p i18n="@@test1">Hello mija this is a test :</p>

<div class="bg-green-600 dark:bg-black text-black dark:text-white p-4 rounded">
  Este bloque cambia con dark mode
</div>

<div class="grid grid-cols-12 gap-8">

  <div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <app-common-card
    [title]="'Orders'"
    [value]="'152'"
    [icon]="'pi-shopping-cart'"
    [iconColor]="'text-blue-500'"
    [iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
    [trendText]="'24 new'"
    [trendDescription]="'since last visit'"
  ></app-common-card>
</div>

<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <app-common-card
  [title]="'Orders'"
  [value]="'152'"
  [icon]="'pi-shopping-cart'"
  [iconColor]="'text-blue-500'"
  [iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
  [trendText]="'24 new'"
  [trendDescription]="'since last visit'"
></app-common-card>
</div>

<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <app-common-card
  [title]="'Orders'"
  [value]="'152'"
  [icon]="'pi-shopping-cart'"
  [iconColor]="'text-blue-500'"
  [iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
  [trendText]="'24 new'"
  [trendDescription]="'since last visit'"
></app-common-card>
</div>

<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <app-common-card
  [title]="'Orders'"
  [value]="'152'"
  [icon]="'pi-shopping-cart'"
  [iconColor]="'text-blue-500'"
  [iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
  [trendText]="'24 new'"
  [trendDescription]="'since last visit'"
></app-common-card>
</div>

<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <app-common-card
  [title]="'Orders'"
  [value]="'152'"
  [icon]="'pi-shopping-cart'"
  [iconColor]="'text-blue-500'"
  [iconBgColor]="'bg-blue-100 dark:bg-blue-400/10'"
  [trendText]="'24 new'"
  [trendDescription]="'since last visit'"
></app-common-card>
</div>







  <div class="col-span-12 xl:col-span-6">

  </div>
  <div class="col-span-12 xl:col-span-6">

  </div>
</div>




