<div class="card">
  <p-tieredMenu #menu [model]="actions" [popup]="true"></p-tieredMenu>

  <p-table
  #dt2
  [columns]="columns"
  [value]="data"
  [tableStyle]="tableStyle"
  [size]="size"
  [showGridlines]="showGridlines"
  [stripedRows]="stripedRows"
  [paginator]="paginator"
  [rows]="rows"

  [sortMode]="sortMode"
  [sortField]="sortField"
  [sortOrder]="sortOrder"

  [rowsPerPageOptions]="rowsPerPageOptions"
  (onPage)="onPageChange.emit($event)"

  >
  <ng-template pTemplate="caption" *ngIf="showCaption">
    <div class="flex items-center justify-between w-full gap-4 flex-wrap">
      <span class="text-xl font-bold">{{ captionTitle }}</span>

      <div class="flex items-center gap-4 ml-auto">
        <!-- 🔍 Campo de búsqueda -->
        <p-iconfield
          *ngIf="showSearch"
          iconPosition="left"
          class="min-w-[200px]"
        >
          <p-inputicon><i class="pi pi-search"></i></p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt2.filterGlobal($event, 'contains')"
                        [placeholder]="searchPlaceholder"
          />
        </p-iconfield>

        <!-- 🔄 Botón de refresh -->
        <p-button
          *ngIf="showRefreshButton"
          [icon]="refreshButtonIcon"
          rounded
          raised
          (onClick)="onRefresh.emit()"
        />
      </div>
    </div>
  </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns"
            [pSortableColumn]="col.sortable ? col.field : null">
          {{ col.header }}
          <p-sortIcon *ngIf="col.sortable" [field]="col.field" />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns" *ngIf="bodyTemplate">
      <ng-container *ngTemplateOutlet="bodyTemplate; context: { $implicit: rowData, columns: columns }"></ng-container>
    </ng-template>

    <ng-template #body let-rowData let-columns="columns" *ngIf="!bodyTemplate">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
