<div class="card">
  <p-tieredMenu #menu [model]="actions" [popup]="true"></p-tieredMenu>

  <p-table
  #dt2
  [columns]="columns"
  [value]="data"
  [tableStyle]="tableStyle"
  [size]="size"
  [showGridlines]="showGridlines"
  [stripedRows]="stripedRows"
  [paginator]="paginator"
  [rows]="rows"
  [scrollable]="scrollable"
  [scrollHeight]="scrollHeight"

  [sortMode]="sortMode"
  [sortField]="sortField"
  [sortOrder]="sortOrder"

  [dataKey]="enableSelection ? dataKey : undefined"
  [selection]="enableSelection ? selection : null"
  (selectionChange)="enableSelection ? selectionChange.emit($event) : null"

  [lazy]="lazy"
  [totalRecords]="totalRecords"
  [loading]="loading"
  (onLazyLoad)="onLazyLoad.emit($event)"
  [filterDelay]="300"

  [first]="first"
  [filters]="filters"

  [rowsPerPageOptions]="rowsPerPageOptions"
  (onPage)="onPageChange.emit($event)"

  >
  <ng-template pTemplate="caption" *ngIf="showCaption">
    <div class="flex items-center justify-between w-full gap-4 flex-wrap">
      <span class="text-xl font-bold">{{ captionTitle }}</span>

      <div class="flex items-center gap-4 ml-auto">
        <!-- 🔍 Campo de búsqueda -->
        <p-iconfield
          *ngIf="showSearch"
          iconPosition="left"
          class="min-w-[200px]"
        >
          <p-inputicon><i class="pi pi-search"></i></p-inputicon>
          <input
            pInputText
            [value]="filters['global']?.value || ''"
            type="text"
            (input)="onGlobalFilter($event)"
            [placeholder]="searchPlaceholder"
          />
        </p-iconfield>

        <!-- 🔄 Botón de refresh -->
        <p-button
          *ngIf="showRefreshButton"
          [icon]="refreshButtonIcon"
          rounded
          raised
          (onClick)="onRefresh.emit()"
        />
      </div>
    </div>
  </ng-template>
  <!-- Header -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngIf="enableSelection" style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.sortable ? col.field : null">
        {{ col.header }}
        <p-sortIcon *ngIf="col.sortable" [field]="col.field" />
      </th>
      <th *ngIf="rowActions?.length">
       Actions
      </th>
    </tr>

       <!-- Fila de filtros por columna -->
       <tr *ngIf="enableColumnFilter">
        <th *ngIf="enableSelection"></th>
        <th *ngFor="let col of columns">
          <ng-container *ngIf="col.filter">
            <!-- Caso: Filtro normal -->
            <p-columnFilter
            *ngIf="col.filter.type !== 'custom-select'"
            [field]="col.field"
            matchMode="contains"
            [showMenu]="false"
          >
            <ng-template #filter let-value let-filter="filterCallback">
              <input
                pInputText
                class="w-full"
                [ngModel]="filters[col.field]?.value || ''"
                [placeholder]="col.filter.placeholder"
                (input)="handleTextFilter(col.field, $event, 'contains', filter)"

              />
            </ng-template>
          </p-columnFilter>

            <!-- Caso: Filtro custom-select con opciones -->
            <p-columnFilter
            *ngIf="col.filter.type === 'custom-select'"
            [field]="col.field"
            matchMode="equals"
            [showMenu]="false"
          >
            <ng-template #filter let-value let-filter="filterCallback">
              <p-select
                [ngModel]="filters[col.field]?.value"
                [options]="col.filter.options"
                (onChange)="filter($event.value)"
                [placeholder]="col.filter.placeholder || 'Select'"
                [showClear]="true"
                class="w-full"
              >
                <ng-template let-option #item>
                  <ng-container
                    *ngIf="customFilterTemplate; else defaultOption"
                    [ngTemplateOutlet]="customFilterTemplate"
                    [ngTemplateOutletContext]="{ $implicit: option }"
                  ></ng-container>
                  <ng-template #defaultOption>
                    <span>{{ option.label }}</span>
                  </ng-template>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>

          </ng-container>
        </th>
        <th *ngIf="rowActions?.length"></th>   <!-- Avoid white space when actions -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngIf="enableSelection">
          <p-tableCheckbox [value]="rowData" />
        </td>

        <ng-container *ngIf="bodyTemplate; else defaultBody">
          <ng-container *ngTemplateOutlet="bodyTemplate; context: { $implicit: rowData, columns: columns }"></ng-container>
        </ng-container>

        <ng-template #defaultBody>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </ng-template>

        <td *ngIf="rowActions?.length">
          <div class="flex items-center gap-2">
            <ng-container *ngFor="let action of rowActions">
              <p-button
                [icon]="action.icon"
                [severity]="action.severity || 'secondary'"
                [rounded]="true"
                [outlined]="true"
                [pTooltip]="action.tooltip"
                tooltipPosition="top"
                (click)="action?.callback(rowData)"
              />
            </ng-container>
          </div>
        </td>
      </tr>
    </ng-template>
    <!-- Mensaje cuando no hay datos -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + (enableSelection ? 1 : 0) + (rowActions.length ? 1 : 0)">
          <div class="text-center text-gray-500 py-4">
            😕 No hay datos disponibles
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
