<div class="flex h-full gap-6">
  <!-- Preview -->
  <div class="card-surface flex-1/4 bg-white  rounded-sm shadow-sm p-6 ">
    <!-- Encabezado -->
    <div class="flex justify-between items-center mb-6">
      <button class="p-button p-button-success">Guardar</button>
    </div>

    <!-- Vista previa en tiempo real -->
    <div class="min-h-[400px]">
      <app-activity-preview-panel
      *ngIf="activity"
      [activity]="activity"
      mode="admin-preview"
    />

    </div>
  </div>

  <!-- Editor Panel -->
  <div class="card-surface flex-1 bg-white  rounded-sm shadow-sm px-4 py-6 activity-panel-scrollable">
    <app-activity-editor-panel />
  </div>
</div>
