<div class="space-y-4">

  <!-- Tipo de actividad -->
  <div>
    <label class="block text-sm font-medium mb-1">Tipo de actividad</label>
    <p-select
    [ngModel]="activity.type"
    [options]="activityTypes"
    optionLabel="label"
    optionValue="value"
    class="w-full"
    placeholder="Selecciona un tipo"
    (ngModelChange)="onActivityTypeChange($event)"
  />
  </div>

  <!-- Subtipo si es pregunta -->
  <div *ngIf="isQuestion">
    <label class="block text-sm font-medium mb-1">Tipo de pregunta</label>
      <p-select
      [ngModel]="activity.question?.type"
      [options]="questionSubtypes"
      optionLabel="label"
      optionValue="value"
      class="w-full"
      placeholder="Selecciona subtipo"
      (ngModelChange)="onQuestionTypeChange($event)"
      />
  </div>

  <!-- Categoría -->
  <div>
    <label class="block text-sm font-medium mb-1">Categoría</label>
    <p-treeSelect
      [options]="categoryTree"
      [(ngModel)]="selectedNode"
      selectionMode="single"
      placeholder="Selecciona categoría"
      optionValue="value"
      class="md:w-80 w-full"
      containerStyleClass="w-full"
      (onNodeSelect)="onCategorySelect($event)"
    />
  </div>

  <!-- Título -->
  <app-question-builder *ngIf="isQuestion" />
</div>
