<!-- Ejemplo: solo muestra este si es de tipo pregunta -->
 {{type | json}}
<div *ngIf="type === 'simple_question' || type === 'open_question' || type === 'true_false' || type === 'multiple_choice'">
    <!-- Aquí va tu formulario base para preguntas -->
    <label class="block mb-2">Pregunta</label>
    <textarea
      [(ngModel)]="questionText"
      placeholder="Escribe tu pregunta..."
      rows="4"
      class="w-full mb-4"
    ></textarea>
  
    <!-- Campos comunes: opciones, check de respuesta, etc -->
  </div>
  
  <!-- En el futuro -->
  <div *ngIf="type === 'match_pairs'">
    <!-- Componente especializado para emparejar -->
    <p>Aquí irá la lógica de emparejamiento</p>
  </div>