@charset "UTF-8";
@use './assets/admin-layout/layout.scss';
@import 'primeicons/primeicons.css';
html, body {
  overflow: hidden; // Evita scroll global

}
.no-border-input {
  --p-inputtext-border-color: transparent;
  --p-inputtext-shadow: none;
  --p-inputtext-border-radius: 0;
}
