<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '680px' }"
  [contentStyle]="{ 'overflow-y': 'auto' }"
  header="Opciones avanzadas"
  (onHide)="onCancel()"
>
  <div class="p-4 space-y-5 text-gray-700">

    <!-- Traducción -->
    <div>
      <label class="block text-sm font-semibold mb-1">Traducción</label>
      <input
        type="text"
        pInputText
        class="w-full"
        [(ngModel)]="translation"
        placeholder="Ingresa la traducción"
      />
    </div>

    <!-- Multimedia -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

<!-- Imagen -->
<app-common-image-uploader
  [imageUrl]="imageUrl"
  (imageChange)="onImageChanged($event)"
></app-common-image-uploader>



<!-- Audio -->
<app-common-audio-uploader
  [audioUrl]="audioUrl"
  [audioStart]="audioStart"
  [audioEnd]="audioEnd"
  [waveOptions]="{
    waveColor: '#F97316',
    progressColor: '#EA580C',
    height: 119,
    barWidth: 2,
    cursorColor: '#EF4444'
  }"
  (audioChange)="onAudioChanged($event)"
  (regionChange)="onRegionChanged($event)"
  (waveformReady)="onWaveformReady()"
/>
          </div>
  </div>

  <!-- Footer -->
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Cancelar" severity="secondary" (click)="onCancel()" />
      <p-button
  label="Guardar"
  severity="primary"
  [disabled]="!isWaveformReady"
  (click)="onSave()"
/>
    </div>
  </ng-template>
</p-dialog>
