<div class="space-y-4">
  <!-- Texto de la pregunta -->
  <div>
    <label class="block text-sm font-medium mb-1">Texto de la pregunta</label>
    <p-editor
      [(ngModel)]="question.text"
      [style]="editorStyle"
      (ngModelChange)="updateField('text', $event)"
    ></p-editor>
  </div>

  <!-- Descripción opcional -->
  <div>
    <label class="block text-sm font-medium mb-1">Descripción</label>
    <textarea
      pTextarea
      rows="3"
      [(ngModel)]="question.description"
      (ngModelChange)="updateField('description', $event)"
      class="w-full"
    ></textarea>
  </div>

  <!-- ¿Es obligatoria? -->
  <div class="flex items-center gap-2">
    <label class="block text-sm font-medium">¿Es obligatoria?</label>
    <p-toggleSwitch
      [(ngModel)]="question.isMandatory"
      (ngModelChange)="updateField('isMandatory', $event)"
    />
  </div>

  <!-- Mostrar traducción -->
  <div class="flex items-center gap-2">
    <label class="block text-sm font-medium">¿Agregar traducción?</label>
    <p-toggleSwitch [(ngModel)]="showTranslation" />
  </div>

  <!-- Traducción -->
  <div *ngIf="showTranslation">
    <label class="block text-sm font-medium mb-1">Traducción</label>
      <textarea
        pTextarea
        rows="3"
        [ngModel]="question.translation?.translatedText"
        (ngModelChange)="updateTranslation($event)"
        class="w-full"
    ></textarea>
  </div>

  <!-- Selector de tipo de medio -->
  <div>
    <label class="block text-sm font-medium mb-1">Tipo de medio</label>
    <p-select [options]="mediaTypes" [(ngModel)]="selectedMediaType" optionLabel="Tipo de medio" placeholder="Select a media" class="w-full border rounded" />
  </div>

  <!-- File Upload -->
  <div>
    <p-fileUpload
      #fu
      mode="basic"
      chooseLabel="Seleccionar archivo"
      chooseIcon="pi pi-upload"
      name="file"
      url="https://www.primefaces.org/cdn/api/upload.php"
      accept="*/*"
      maxFileSize="1000000"
      [auto]="false"
      (onUpload)="onUpload($event)"
    />
    <p-button label="Subir archivo" (onClick)="uploadManually(fu)" severity="secondary" />
  </div>

  <!-- Vista previa -->
  <div *ngIf="question.media?.length">
    <h3 class="text-sm font-bold mt-4 mb-2">Archivos añadidos:</h3>
    <ul class="list-disc ml-5">
      <li *ngFor="let media of question.media">
        {{ media.type }} - <a [href]="media.url" target="_blank">{{ media.url }}</a>
      </li>
    </ul>
  </div>
</div>
